@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');
:root {
  --black-v1: #151619;
  --black-v2: #1D1F22;
  --black-v3: #2B2D31;
  --black-v4: #35393F;

  --gray-v1: #5A6069;
  --gray-v2: #7C8187;
  --gray-v3: #C1C4CB;
  --gray-v4: #E4E4E4;

  --orange-v1: #E46643;
  --orange-v2: #F39765;

  --white-v1: #F5F5F5;
  --white-v2: #FFFFFF;

  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: var(--black-v4);
  font-style: normal;

}

h1 {
  font-family: "Roboto Slab";
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal; 
  color: var(--black-v4);
}

h2 {
  font-family: "Roboto Slab";
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: normal; 
  color: var(--black-v4);
}

h3 {
  font-family: "Roboto Slab";
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal; 
  color: var(--black-v4);

}

h4 {
  font-family: "Roboto Slab";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal; 
  color: var(--black-v4);
}

h5{
  font-family: "Roboto Slab";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal; 
  color: var(--orange-v1);
}

h6 {
  font-family: "Roboto Slab";
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal; 
  color: var(--black-v4);
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
